@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #e6dcf1;
  --foreground: #3c0d5c;
  --accent: #8b35d4;
  --soft-purple: #d7c5ea;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto Mono', monospace;
}